body {
    background: #f0f0f0;
}

.container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* 
.container .inner-img {
    width: 475px;
    height: 575px;
    overflow: hidden;
    border-bottom-left-radius: 45px;
    border-top-left-radius: 45px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 15px;
    object-fit: cover;
}

.container .inner-img img {
    transition: all .30s ease-in-out;
}

.container .inner-img img:hover {
    transform: scale(1.1);
    overflow: hidden;
} */

.form {
    padding: 50px;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 15px; 
    text-align: center;
    position: relative;
    border-radius: 10px;
    width: 575px;
    height: auto;
}

.container .form .inner-logo {
    width: 130px;
    height: auto;
    text-align: center;
    margin-bottom: 20px;
}

.container .form .inner-logo img {
    width: 150px;
    height: 80px;
    object-fit: cover;
}

.form .title {
    margin-bottom: 20px;
    font-size: 28px;
    font-weight: 500;
    color: #000;
    text-align: left;
    text-transform: uppercase;
}

.form .desc {
    text-align: justify;
    margin-bottom: 10px;
    font-size: 16px;
    letter-spacing: .8px;
    font-weight: 500;
    color: #696969;
}

.form .name .input {
    outline: none;
    border: none;
    border-bottom: solid 1px #ddd;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 5px;
    transition: all .30s ease-in;
    margin-right: 20px;
    margin-bottom: 0;
    width: 47%;
}

.form .name .input:nth-child(2) {
    margin-right: 0;
}

.form .name .input:focus {
    color: #000;
    border-bottom: solid 1px #000;
}

.form .input  {
    margin: 30px 0;
    font-size: 16px;
}


.form .input:focus {
    border-bottom: solid 1px #000;
}

.form .input:focus::placeholder {
    color: #000;
}

.form .input .user,
.form .input .email,
.form .input .password, 
.form .input .number {
    font-size: 16px;
    border: none;
    outline: none;
    width: 100%;
    padding-bottom: 5px;
    border-bottom: solid 1px #ddd;
    transition: all .30s ease-in-out;
}

.form .input .user:focus, 
.form .input .email:focus,
.form .input .password:focus, 
.form .input .number:focus {
    border-bottom: solid 1px #000;
}

.form .input .user:focus::placeholder, 
.form .input .email:focus::placeholder,
.form .input .password:focus::placeholder, 
.form .input .number:focus::placeholder {
    color: #000;
}

.form .button {
    margin-top: 10px;
    outline: none;
    border: none;
    font-size: 18px;
    background: #B5292F;
    color: #fff;
    padding: 15px 25px;
    border-radius: 45px;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all .3s ease;
    width: 100%;
}

.form .button:hover {
    background: #ddd;
    color: #000;
}

.form .sign-in {
    margin-top: 20px;
    font-size: 16px;
 }
 
 .form .sign-in span {
     cursor: pointer;
     color: #B5292F;
     transition: .3s ease;
 }
 
 .form .sign-in span:hover {
     text-decoration: underline;
 }
 


